@page
@model Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-12">
        <h1>Hello world!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae sed, nam delectus animi enim sunt
            non,
            necessitatibus ipsa natus ipsam, impedit laborum temporibus accusantium ea ex magnam fugiat dignissimos.
            Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus consequatur sed praesentium dolorem
            laborum
            eveniet excepturi incidunt ex iusto voluptate delectus cupiditate, molestias necessitatibus explicabo
            similique
            nemo laboriosam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus expedita earum
            corporis ut commodi, doloremque consectetur sint odit nam corrupti recusandae illum. Illum a numquam alias
            exercitationem delectus quidem animi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
            dignissimos ipsum eaque aliquid commodi blanditiis nostrum vitae debitis laborum fuga, non consequuntur
            nesciunt
            et nihil autem, molestiae repellat impedit quasi!</p>
    </div>
</div>