@page
@model Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-4">
        <h1>Hello world!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae sed, nam delectus animi enim sunt
            non,
            necessitatibus ipsa natus ipsam, impedit laborum temporibus accusantium ea ex magnam fugiat dignissimos.
            Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus consequatur sed praesentium dolorem
            laborum
            eveniet excepturi incidunt ex iusto voluptate delectus cupiditate, molestias necessitatibus explicabo
            similique
            nemo laboriosam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus expedita earum
            corporis ut commodi, doloremque consectetur sint odit nam corrupti recusandae illum. Illum a numquam alias
            exercitationem delectus quidem animi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
            dignissimos ipsum eaque aliquid commodi blanditiis nostrum vitae debitis laborum fuga, non consequuntur
            nesciunt
            et nihil autem, molestiae repellat impedit quasi!</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Hello world! v2</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint rem architecto impedit repellat vitae, sunt
            suscipit. Eius voluptatum unde hic ab nobis rem, expedita optio soluta ullam, earum natus corrupti. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Culpa at accusamus odio delectus amet, incidunt porro
            sint nostrum provident repudiandae! Commodi omnis eveniet voluptatum placeat eligendi minus libero ipsum
            nobis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptates eius alias ea veritatis
            quis fugit quod. Officia cum ab fugiat doloribus ratione ducimus dolorum quisquam nostrum. Corrupti, neque
            unde! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut hic excepturi illo, ducimus quia nulla
            repellat libero consequatur non, temporibus voluptates dolores reiciendis delectus. Ipsa iure vel molestiae
            illo culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, suscipit, asperiores rem
            doloribus corporis illum non, voluptates ducimus assumenda ipsam architecto facilis quae possimus harum
            distinctio quam quo quisquam maiores.
        </p>
    </div>
</div>